.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  transition: opacity 0.5s ease-in-out;
  overflow-x: hidden;
}

.section {
  height: 100dvh;
  scroll-snap-align: start;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  opacity: 0.5;
  /* transition: opacity 0.5s ease-in-out; */
  position: relative;
}

.section.active {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.section-title {
  font-size: 2.5rem;
  color: var(--clr-text);
  margin-bottom: 1.5rem;
  text-align: left;
}
#hero {
  background-color: var(--clr-primary);
}

#about {
  background-color: var(--clr-accent);
}

#projects {
  background-color: var(--clr-surface);
}

#contact {
  background-color: var(--clr-accent);
}
.design-line {
  width: 50px;
  height: 4px;
  background-color: var(--clr-hover);
}

@media (max-width: 768px) {
  .section {
    justify-content: flex-start;
    padding-top: 5rem;
  }
  .section .section-title {
    font-size: 1.5rem;
  }
  .design-line {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
